# ignora ll .env files
*.env
*.pyc

src/__pycache__/mimicdf.cpython-313.pyc
notes.txt
src/__pycache__/mimicdf.cpython-313.pyc

.archive
.venv
.vscode
.archive
__pycache__/
**/__pycache__/**
data/*
!data/.gitkeep
models/*
!models/.gitkeep
experiments/embeddings/*
!experiments/embeddings/.gitkeep
experiments/models/*
!experiments/models/.gitkeep
